<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.js.model.rbac.presentation.RbacModelWizardID"
            name="%_UI_RbacModelWizard_label"
            class="org.js.model.rbac.presentation.RbacModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RbacModelFile.gif">
         <description>%_UI_RbacModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.js.model.rbac.presentation.RbacEditorID"
            name="%_UI_RbacEditor_label"
            icon="icons/full/obj16/RbacModelFile.gif"
            extensions="rbac"
            class="org.js.model.rbac.presentation.RbacEditor"
            contributorClass="org.js.model.rbac.presentation.RbacActionBarContributor">
      </editor>
   </extension>

</plugin>
