<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.tudresden.de/extfeature"
            class="org.js.model.feature.FeaturePackage"
            genModel="model/feature.genmodel"/>
   </extension>

</plugin>
