<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.js.model.workflow"
            class="org.js.model.workflow.WorkflowPackage"
            genModel="src/main/model/workflow.genmodel"/>
   </extension>
   <extension
         id="org.js.model.workflow"
         name="Workflow Aspect"
         point="org.eclipse.jwt.we.conf.model.conf">
      <conf
            file="conf/workflow.conf">
      </conf>
   </extension>
   <extension
         id="org.js.model.workflow.view"
         name="Views"
         point="org.eclipse.jwt.we.view">
      <view
            displayIcon="icons/Group.gif"
            displayName="Configuration Workflow View"
            id="ConfWorkflow"
            viewFile="conf/ConfWorkflow.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.jwt.we.menu">
      <action
            class="org.js.model.workflow.actions.ImportModelAction"
            description="import the rbac model and graph transformation model"
            forceText="false"
            name="Import Models"
            requiresOpenEditor="false"
            showInMenu="true"
            showInToolbar="true">
      </action>
      <!--<action
            class="org.js.model.workflow.actions.SetStakeholerTypes"
            description="set the stakeholder types"
            forceText="false"
            name="Set Stakeholder Types"
            requiresOpenEditor="false"
            showInMenu="true"
            showInToolbar="true">
      </action>-->
      <action
            class="org.js.model.workflow.actions.InitialAction"
            description="initial the configuration workflow"
            forceText="true"
            name="Initial Workflow"
            requiresOpenEditor="true"
            showInMenu="true"
            showInToolbar="true">
      </action>
      <action
            class="org.js.model.workflow.actions.AddStakeholderAction"
            description="add a new stakeholder"
            forceText="true"
            name="Add Stakeholder"
            requiresOpenEditor="true"
            showInMenu="true"
            showInToolbar="true">
      </action>
      <action
            class="org.js.model.workflow.actions.RemoveStakeholderAction"
            description="remove a concrete stakeholder"
            forceText="true"
            name="Remove a Stakeholder"
            requiresOpenEditor="true"
            showInMenu="true"
            showInToolbar="true">
      </action>
      <action
            class="org.js.model.workflow.actions.CleanAction"
            description="clean the configuration workflow"
            forceText="true"
            name="Clean Workflow"
            requiresOpenEditor="true"
            showInMenu="true"
            showInToolbar="true">
      </action>
   </extension>
   <extension
         point="org.eclipse.jwt.we.doubleclick">
      <doubleclick
            DoubleClickHandler="org.js.model.workflow.actions.ConfigHandler">
      </doubleclick>
   </extension>

</plugin>
