<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	
	
	
	
	
	
	
	
	
	
	<extension-point id="org.emftext.term.propositional.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	
	<extension-point id="org.emftext.term.propositional.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PropositionalTerm -->
      <package
            uri="http://www.tu-dresden.de/expression"
            class="org.emftext.term.propositional.expression.TermPackage"
            genModel="model/PropositionalTerm.genmodel"/>
   </extension>

</plugin>
