<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://graphtransformation/1.0"
            class="org.js.graph.graphtransformation.GraphtransformationPackage"
            genModel="src/main/model/graphTransformation.genmodel"/>
   </extension>

</plugin>
