<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.conper.de/view"
            class="org.feature.multi.perspective.view.ViewPackage"
            genModel="src/main/model/View.genmodel"/>
   </extension>

</plugin>
