<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/org.js.model.feature.ptnet.m2m.atl/src/main/atl/feature2ptnet.atl"/>
<stringAttribute key="ATL VM" value="EMF-specific VM"/>
<stringAttribute key="ATL_COMPILER" value="atl2006"/>
<booleanAttribute key="IS_REFINING" value="false"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="fm"/>
</mapAttribute>
<mapAttribute key="Libs"/>
<mapAttribute key="Model Handler">
<mapEntry key="fm" value="EMF"/>
<mapEntry key="ptnet" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="IN" value="MODELINPUT"/>
<mapEntry key="OUT" value="MODELOUTPUT"/>
<mapEntry key="fm" value="METAMODELINPUT"/>
<mapEntry key="ptnet" value="METAMODELOUTPUT"/>
</mapAttribute>
<mapAttribute key="Options">
<mapEntry key="OPTION_CLEAR" value="false"/>
<mapEntry key="OPTION_CONTENT_TYPE" value="false"/>
<mapEntry key="OPTION_DERIVED" value="true"/>
<mapEntry key="allowInterModelReferences" value="false"/>
<mapEntry key="printExecutionTime" value="false"/>
<mapEntry key="step" value="false"/>
<mapEntry key="supportUML2Stereotypes" value="false"/>
</mapAttribute>
<listAttribute key="OrderedInput">
<listEntry value="IN"/>
</listAttribute>
<listAttribute key="OrderedOutput">
<listEntry value="OUT"/>
</listAttribute>
<mapAttribute key="Output">
<mapEntry key="OUT" value="ptnet"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="IN" value="/org.js.model.feature.ptnet.m2m.atl/src/main/model/requires_fm.feature"/>
<mapEntry key="OUT" value="/org.js.model.feature.ptnet.m2m.atl/src/main/model/requires_fm.ptnet"/>
<mapEntry key="fm" value="/org.js.model.feature.ptnet.m2m.atl/src/main/metamodel/feature.ecore"/>
<mapEntry key="ptnet" value="/org.js.model.feature.ptnet.m2m.atl/src/main/metamodel/ptnetLoLA.ecore"/>
</mapAttribute>
<listAttribute key="Superimpose"/>
<stringAttribute key="bad_container_name" value="\org.js.eclipse.configuration\fm2"/>
</launchConfiguration>
