<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.tudresden.de/extexpression"
            class="org.js.model.expression.expressionPackage"
            genModel="src/main/model/Expression.genmodel"/>
   </extension>

</plugin>
